springcloud-server/work
springcloud-client1/work
springcloud-client2/work

springcloud-server/bin
springcloud-client1/bin
springcloud-client2/bin

springcloud-server/target
springcloud-client1/target
springcloud-client2/target

springcloud-server/.classpath
springcloud-client1/.classpath
springcloud-client2/.classpath

springcloud-server/.project
springcloud-client1/.project
springcloud-client2/.project

springcloud-server/.settings/org.eclipse.core.resources.prefs
springcloud-client1/.settings/org.eclipse.core.resources.prefs
springcloud-client2/.settings/org.eclipse.core.resources.prefs

springcloud-server/.settings/org.eclipse.wst.common.project.facet.core.xml
springcloud-client1/.settings/org.eclipse.wst.common.project.facet.core.xml
springcloud-client2/.settings/org.eclipse.wst.common.project.facet.core.xml

*.prefs

.DS_Store

productShow/package-lock.json
